<div id="b-stepp-45" class="step-content-item js-step-content-item" style="width: 1200px;">
     <div class="wrap wrap_content custome-blackstep"> <h2 class="hdg hdg_2 pushBtm20 pagecustom-heading">
        <p class="italic_hd">Special</p> Shipping Date Instructions</h2> 
        <div class="shipping-extras-text-wrapper"> 
            <p><strong>Delivery Options:</strong></p> <p>All shipping/delivery details are collected at checkout. No billing, pricing or gift title information is included with your gift.</p> <p><strong>Shipping</strong> – We ship anywhere in Canada for a flat rate. Your shipped gift will be safely packaged in a shipping box so it arrives looking perfect. For more information about shipping times visit our <a href="/pages/faq" target="_blank"><strong>FAQ’s</strong></a>.</p> <p><strong>Hand Delivery</strong> – Hand delivery is offered within the inner areas of Halifax, Dartmouth, Bedford, Lower Sackville and Eastern Passage (Nova Scotia, Canada). We will contact your recipient(s) to organize the delivery when your gift is ready or the date you have selected.</p> <p><strong>Pickup</strong> – Free studio pick-up is available in our Dartmouth (Nova Scotia, Canada) studio during our business hours.</p> <p style="margin-top: 40px; font-size: 22px;"><strong>Gift Ready Date:</strong></p> <p>All gifts are handmade to order, please select when you would like your gift to be ready.</p> <p> <label style="text-transform: initial; cursor: pointer;"> <input type="radio" name="ready_preference" class="ready_preference" value="as_soon_as_possible" required="">&nbsp; <span style="font-size: 1rem;">As Soon As Possible</span> <span style="display: block; padding-left: 1.4rem; font-weight: normal;"> <strong>Your gift is made within 2-3 business days.</strong></span></label> <label style="text-transform: initial; cursor: pointer; margin-top: 1rem;"> <input type="radio" name="ready_preference" class="ready_preference" value="rush" style="padding-left: 1rem;" required="">&nbsp; <span style="font-size: 1rem;">Rush – Additional $25 Fee</span> <span style="display: block; padding-left: 1.4rem; font-weight: normal;"> <strong>Gift made within 1 business day</strong><br>
                                    Gifts ordered before 11am will be shipped, hand-delivered or ready for pickup on the same day. Rush orders placed after 11am will be ready the next business day. Please note we are closed on weekends and holidays.</span></label> <label style="text-transform: initial; cursor: pointer; margin-top: 1rem;"> <input type="radio" name="ready_preference" class="ready_preference" value="delayed_until_date" style="padding-left: 1rem;" required="">&nbsp; <span style="font-size: 1rem;">Future Date</span> <span style="display: block; padding-left: 1.4rem; font-weight: normal;"> <strong>Gift made for future date</strong><br>
                                    Your gift will leave our studio or be ready for pickup the date you select in the calendar. For delivery times please check our <a href="/pages/faq" target="_blank"><strong>FAQ’s</strong></a>.</span></label></p> <p id="shipping_date-wrap" class="" style="margin-left: 1.3rem;"> <label for="shipping_date">Ship Date</label> <input type="text" id="shipping_date" rm-date-picker="" name="shipping_date" style="max-width: 238px;" placeholder="Select Date" class="hasDatepicker" required=""></p></div>

                  	<button type="button" class="step-blk_cutbtn details_added">Go to final step</button></div></div>
{% schema %}
{
  "name": "Build Box Shipping",
  "tag": "section",
  "class": "section slider_container_cover page-width step-list-custom",
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}